html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar1{
    padding: 20px 0px;
    background-color: rgb(230, 243, 255);
}
.item-box ul{
    display: flex;
    flex-direction: row;
}
.logo h2{
    margin-bottom: 0;
}
.item-box ul li a{
    margin: 0px 10px;
    padding: 2px 3px;
    color: black;
}
.logo a{
    color: orangered;
    text-decoration: none;
}
.home-box{
    margin: 3rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.h-box1{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.h-box1 p{
    margin: 3vh 0vw;
}
.h-box1 h1 span{
    color: purple;
}
.h-box1 p span{
    font-weight: 600;
}
.h-box2 img{
    width: 30rem;
}
.h-box-btn{
    width: 9rem;
    background-color: orangered;
    color: white;
    padding: 10px 0px;
    border: none;
    outline: none;
}
.h-box-btn:hover{
    color: orangered;
    background-color: yellow;
}
.about-box{
    display: flex;
    flex-direction: column;
}
.ab-box1{
    text-align: center;
    margin-bottom: 3vh;
}
.ab-box1 h1{
    color: orangered;
    margin-bottom: 1.4vh;
}
.ab-box2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ab-box21 img{
    width: 30rem;
}
.ab-box22{
    width: 45%;
}
.ab-box22 p{
    margin: 4vh 0vw;
}
.service-box{
    display: flex;
    flex-direction: column;
    margin: 6vh 0vw;
}
.ser-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ser-card img{
    position: absolute;
    top: -3.1rem;
    z-index: 5;
    width: 6rem;
}
.ser-card{
    box-shadow: 0 4px 20px rgba(33, 33, 33, 0.38);
    width: 30%;
    margin: 4vh 0vw;
    height: 20vh;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 0.2s ease 0s;
    top: 0;
}
.ser-card  h3{
    margin-top: 3rem;
}
.ser-card p{
    text-align: center;
}
.ser-c1:hover{
    background-image: linear-gradient(to bottom right, darkblue, darkgreen);
    color: white;
    top: -20px;
    box-shadow: 0 4px 20px rgba(33, 33, 33, 0.70);
}
.ser-c2:hover{
    background-image: linear-gradient(to bottom right, orangered, red);
    color: white;
    top: -20px;
    box-shadow: 0 4px 20px rgba(33, 33, 33, 0.70);
}
.ser-c3:hover{
    background-image: linear-gradient(to bottom right, green, brown);
    color: white;
    top: -20px;
    box-shadow: 0 4px 20px rgba(33, 33, 33, 0.70);
}
.ser-c4:hover{
    background-image: linear-gradient(to bottom right, aqua, green);
    color: white;
    top: -20px;
    box-shadow: 0 4px 20px rgba(33, 33, 33, 0.70);
}
.ser-c5:hover{
    background-image: linear-gradient(to bottom right, yellow, red);
    color: white;
    top: -20px;
    box-shadow: 0 4px 20px rgba(33, 33, 33, 0.70);
}
.ser-c6:hover{
    background-image: linear-gradient(to bottom right, darkblue, crimson);
    color: white;
    top: -20px;
    box-shadow: 0 4px 20px rgba(33, 33, 33, 0.70);
}
.map-box{
    text-align: center;
}
.map-box iframe{
    width: 100%;
}
.contact-box{
    margin: 3vh 0vw;
}
.con-box2{
    width: 80%;
    margin: auto;
}
.footer{
    margin-top: auto;
    text-align: center;
    background-color: rgb(194, 194, 194);
    color: black;
    padding: 0.5rem 0rem;
}
.hiten{
    color: rgb(172, 0, 106);
    font-weight: 700;
}
.gal-main{
    background: url('images/gal-bg.jpg') no-repeat center center/cover;
    z-index: 0;
}
.gal-main::before{
    content: "";
    width: 100%;
    height: 61%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
#gal-main1{
    height: 15rem;
}
#gal-main1::before{
    height: 15rem;
}
.navbar2 ul li a{
    color: white;
}
.logo12{
    padding-top: 15px;
}
.navbar2{
    z-index: 10;
}
.gal-box{
    color: white;
    text-align: center;
    padding: 5vh 0vw;
}
.gal-box1{
    display: flex;
    flex-direction: row;
    justify-content: center
}
.gal-drops{
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 25px;
    margin: 0px 20px;
    text-align: center;
    cursor: pointer;
}
.gal-drops-active{
    background-color: cyan;
    color: black;
}
.gal-drops:hover{
    background-color: cyan;
    color: black;
}
.gal-drops p{
    padding: 5px 15px;
    margin-bottom: 0;
}
.gal-inner{
    margin-top: 4vh;
    margin-bottom: 6vh;
}
.gal-inner b{
    color: orangered;
}
.gal-inner p{
    width: 75%;
    margin: 2vh auto;
}
.gal-search{
    position: relative;
    width: 40%;
    margin: auto;
}
.gal-search input{
    padding: 8px 20px;
    border: 2px solid orangered;
    outline: none;
    border-radius: 25px;
    width: 100%;
    font-size: 19px;
}
.gal-search img{
    width: 30px;
    position: absolute;
    right: 15px;
    top: 9px;
    opacity: 0.5;
}
.quick-select{
    margin-bottom: 4vh;
}
.gal-img-box{
    margin: 3vh 0vw;
}
.gal-img-box1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gal-i{
    position: relative;
    width: 21rem;
    cursor: pointer;
    margin: 1rem;
}
.gal-i a{
    display: none;
    position: absolute;
    top: 1rem;
    right: 0rem;
    color: black;
    text-decoration: none;
    padding: 10px 40px;
    background-color: rgba(255, 255, 255, 0.538);
}
.gal-i p{
    display: none;
    position: absolute;
    bottom: 0rem;
    text-align: center;
    width: 22rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.538);
    color: black;
    padding: 12px 0px;
}
.gal-ani{
    animation: galani 0.3s linear;
}
@keyframes galani{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.gal-i img{
    border-radius: 6px;
    width: 22rem;
    height: 24rem;
}
.load_more{
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    border: none;
    border-radius: 2px;
    padding: 10px 25px;
    outline: none;
    margin-bottom: 4vh;
}
.load_more:hover{
    background-color: rgb(175, 175, 175);
    color: black;
}
.load_more:focus{
    box-shadow: 0 0 3pt 2pt rgb(36, 89, 189);
}
#modal-img{
    width: 40rem;
    height: 45rem;
}
.cross{
    display: none;
    position: absolute;
    top: 18px;
    right: 2%;
    z-index: 12;
}
.cross img{
    z-index: 12;
    width: 39px;
}
.cross1 img{
    filter: invert(1);
}
#close{
    display: none;
}
#item-box11{
    display: none;
}
.p-box{
    display: none;
    z-index: 12;
    position: absolute;
    top: 6%;
    right: 8%;
    width: 50%;
    padding: 20px 0px;
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 0.821);
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.56); 
}
.p_ani{
    animation: p-ani 0.2s linear;
}
@keyframes p-ani{
    0%{
        opacity: 0;
        top: -10%;
    }
    100%{
        opacity: 1;
        top: 6%;
    }
}
.p1{
    margin: 5px 0px;
}
.p1 a{
    color: white;
    text-decoration: none;
    text-align: start;
    padding: 3px 5px;
}
.p1 a:hover{
    color: orangered;
}
@media only screen and (max-width: 1160px) {
    .cont-2{
        max-width: 1140px;
    }
}
@media only screen and (max-width: 1010px) {
    .gal-box1
    {
        justify-content: center;
        flex-wrap: wrap;
    }
    .gal-drops{
        margin: 10px 20px;
    }
    .cont-3{
        max-width: 920px;
    }
    .gal-search{
        width: 55%;
    }
}
@media only screen and (max-width: 970px) {
    .cont{
        max-width: 960px;
    }
    .h-box2 img{
        width: 22rem;
    }
    .ab-box21 img{
        width: 21rem;
    }
    .display-5{
        font-size: 2.3rem;
    }
    .h-box1{
        width: auto;
    }
}
@media only screen and (max-width: 770px) {
    .home-box{
        flex-direction: column-reverse;
    }
    .h-box1{
        text-align: center;
        margin-top: 2rem;
    }
    .h-box-btn{
        margin: auto;
    }
    .ab-box2{
        flex-direction: column;
    }
    .h-box2 img{
        width: 28rem;
    }
    .ab-box21 img{
        width: 30rem;
    }
    .ab-box22{
        width: auto;
        text-align: center;
        margin-top: 2rem;
    }
    .ser-card{
        width: 48%;
    }
    .item-box{
        display: none;
    }
    #item-box11{
        display: block;
        position: absolute;
        top: 19px;
        right: 55px;
        display: block;
    }
    #item-box11 a{
        border:2px solid orange;
        border-radius: 20px;
        background-color: black;
        color: #2dff00;
        padding: 3px 17px;
        box-shadow: 3px 5px 5px rgb(0 0 0 / 55%);
        transition: all 0.1s;
    }
    #item-box11 a:focus{
        transform: scale(0.94);
        box-shadow: 1px 3px 5px rgb(0 0 0 / 55%)
    }
    .cross{
        display: block;
    }
    .gal-inner p{
        width: 90%;
    }
    .gal-i{
        width: 18rem;
    }
    .gal-i img{
        width: 18rem;
        height: 19rem;
    }
    @media only screen and (max-width: 665px) {
        .gal-i{
            width: 15rem;
            margin: 0.5rem;
        }
        .gal-i img{
            width: 15rem;
            height: 17rem;
        }
        .cont-3{
            padding: 0;
        }
        .gal-search{
            width: 67%;
        }
        .gal-search input{
            padding: 5px 20px;
        }
        .gal-drops{
            margin: 7px 4px;
        }
        .h-box-btn{
            width: 7rem;
        }
        .logo h2{
            font-size: 1.5rem;
        }
        #modal-img{
            width: 80%;
            height: auto;
        }
    }
    @media only screen and (max-width: 570px) {
        .h-box2 img{
            width: 21rem;
        }
        .display-5{
            font-size: 1.9rem;
        }
        .ab-box21 img{
            width: 23rem;
        }
        .ser-card{
            width: 75%;
            height: 23vh;
            margin: 5vh auto;
        }
        .p-box{
            top: 7%;
            width: 60%;
        }
        .gal-search input{
            font-size: 17px;
        }
    }
    @media only screen and (max-width: 515px) {
        .gal-i{
            width: 45%;
        }
        .gal-i img{
            width: 100%;
            height: 14rem;
        }
        .gal-search{
            width: 77%;
        }
    }
    @media only screen and (max-width: 460px) {
        .h-box2 img{
            width: 18rem;
        }
        .display-5{
            font-size: 1.6rem;
        }
        .ab-box21 img{
            width: 20rem;
        }
        .ser-card{
            width: 80%;
        }
        .p-box{
            width: 70%;
        }
        .logo h2{
            font-size: 1.2rem;
        }
        .navbar1{
            padding: 24px 0px;
        }
        #item-box11 a{
            font-size: 15px;
        }
        #item-box11{
            top: 20px;
            right: 48px;
        }
        .cross{
            top: 21px;
        }
        .cross img{
            width: 32px;
        }
    }
    @media only screen and (max-width: 360px) {
        .logo h2{
            font-size: 1rem;
        }
        #item-box11 a{
            padding: 3px 14px;
            font-size: 13px;
        }
        #item-box11{
            right: 40px;
        }
        .cross1{
            top: 15px;
        }
    }
    @media only screen and (max-width: 320px) {
        .gal-i{
            width: 40%;
        }
        .gal-i img{
            width: 100%;
            height: 12rem;
        }
    }
}